<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/other.css">
</head>
<body class="confess-body">
  <div class="card-menu">
        <h1>Confess</h1>
        <div class="card-container confess-card">
            <p>What's your favorite childhood memory?</p>
        </div> 
        <div class="direction-buttons">
            <button class="prev-button">&#x2190; Prev</button>
            <button class="next-button">Next &#x2192;</button>
        </div>
        <div class="directions">
            <form for="ice-button" action="/icebreaker" method="get">
                <button name="ice-button"class="ice-button">Ice Breaker</button>
            </form>
            <form for="deep-button" action="/deep" method="get">
                <button name="deep-button" class="deep-button">Deep</button>
            </form>
        </div>
  </div>
  <script>
  </script>
</body>
</html>